[Install]
WantedBy=multi-user.target

[Unit]
Description=jupyter-notebook
After=network.target

[Service]
Type=simple

User=ubuntu
WorkingDirectory=/home/ubuntu/jupyter
Environment=SPARK_HOME=/usr/lib/spark
Environment=SPARK_CONF_DIR=/usr/lib/spark/conf
Environment=APACHE_SPARK_VERSION=2.4.1
Environment=PYTHONPATH=/usr/lib/spark/python:/home/ubuntu/anaconda3/bin/python:/usr/lib/spark/python/lib/py4j-0.10.7-src.zip
Environment=HADOOP_VERSION=3.2.0
Environment=SHELL=/bin/bash
Environment=CONDA_DIR=/home/ubuntu/anaconda3
Environment=PATH=/home/ubuntu/anaconda3/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
ExecStart=/bin/bash -c ". /home/ubuntu/anaconda3/etc/profile.d/conda.sh && conda activate jupyter_env && {{jupyter_bin}} notebook --no-browser --NotebookApp.ip='*' --NotebookApp.port=8888 --NotebookApp.token=''"
[Install]
WantedBy=multi-user.target
